@reference "../globals.css"

.login-wrapper{
    @apply w-full h-full flex flex-col justify-center items-center;
}

.login-form{
    @apply w-[90%] p-4 md:w-[75%] lg:w-[50%] lg:h-[30%] xl:w-[30%] xl:h-[50%] lg:p-8 flex flex-col border border-[#3798d4] rounded-lg justify-center text-center;
}

.login-input{
    @apply border-2 border-[#3798d4] rounded-md p-2 mb-4 focus:border-[#3798d4] focus:outline-none;
}

.login-button{
    @apply h-[2rem] bg-[#ff876d] rounded-md text-white mt-2 cursor-pointer;
}


.toast-wrapper{
    @apply p-4 text-base flex justify-evenly items-center border border-black rounded-lg;
}

.top-left{
    @apply absolute top-[1rem] left-[1rem];
}

.error{
   @apply text-red-500 font-semibold bg-red-100;
}

.toast-close{
    @apply cursor-pointer z-[10];
}



.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}