@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-helvetica: "Helvetica, sans-serif",
  --font-comic-sans-cursive: "Comic Sans MS, Comic Sans, cursive";
  --font-chancery: "Apple Chancery", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

span{
  @apply text-base
}

p{
  @apply text-xl
}